
.container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
        align-items: end;
        margin-top: 75px;
    }
    &Modal {
        width: 100%;
        max-width: 754px;
        background-color: white;
        border-radius: 32px;
        z-index: 9;
        position: relative;
        @media (max-width: 768px) {
            height: inherit;
            max-width: 100%;
            border-radius: 20px 20px 0 0;
        }
        > button {
            width: 70%;
            margin: auto;
            margin-top: 32px;
            margin-bottom: 40px;
        }
    }
    &Overlay {
        opacity: 0.4;
        background: #121619;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}