.container {
    position: absolute;
    top: -45px;
    right: 0;
    padding: 10px 15px;
    padding-bottom: 16px;
    box-sizing: border-box;
    text-align: right;
    button {
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        cursor: pointer;
        background: transparent;
        box-shadow: none;
        font-size: 25px;
    }
}