

@font-face {
    font-family: 'sugo_pro_display_trialregular';
    src: url('./assets/fonts/sugo/sugo-pro-classic-regular-trial-webfont.woff2') format('woff2'),
         url('./assets/fonts/sugo/sugo-pro-classic-regular-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

ul {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'sugo_pro_display_trialregular';
}

a, p, li {
    font-family: 'Quicksand', sans-serif;
}

.container {
    button {
        padding: 11px 30px;
        border-radius: 40px;
        background: linear-gradient(97.85deg, #0815F8 9.37%, #5D65FF 88.21%);
        box-shadow: 0px 4px 12px 0px #0815F873;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        line-height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: background 0.3s ease;
        @media (max-width: 768px) {
            font-size: 16px;
            padding: 8px 20px;
        }
        &:hover {
            background: linear-gradient(97.85deg, #0815F8 9.37%, #0815F8 88.21%);
        }
        span {
            width: 37px;
            height: 37px;
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 30px;
            border-radius: 40px;
            color: #0815F8;
            font-size: 26px;
            @media (max-width: 768px) {
                margin-left: 15px;
            }
        }
    }
  &Header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    padding-top: 32px;
    @media (max-width: 768px) {
        padding: 10px 1rem;
        align-items: center;
    }
    > div {
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) {
            position: fixed;
            left: 0;
            right: 0;
            top: -1000px;
            flex-direction: column;
        }
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            li {
                a {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 23px;
                    padding: 0 32px;
                    text-decoration: none;
                    color: #000000;
                }
            }
    
        }
    }
    &Burger {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        display: none !important;
        input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;
            &:checked ~ span {
              opacity: 1 !important;
              transform: rotate(45deg) translate(0px, -17px);
              background: #232323;
            }
            &:checked ~ span:nth-last-child(3){
              opacity: 0 !important;
              transform: rotate(0deg) scale(0.2, 0.2);
            }
            &:checked ~ span:nth-last-child(2) {
              transform: rotate(-45deg) translate(0, 17px);
            }
        }
        span {
            display: block;
            width: 30px;
            height: 2px;
            margin-bottom: 5px;
            position: relative;
            background: linear-gradient(97.85deg, #0815F8 9.37%, #5D65FF 88.21%);
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
            &:nth-last-child(2){
              transform-origin: 0% 100%;
            }
            &:first-child {
                transform-origin: 0% 0%;
            }
        }
        @media (max-width: 768px) {
            display: flex !important;
            align-items: center;
            position: relative !important;
            top: 0 !important;
            bottom: 0 !important;
            margin: auto;
            left: inherit !important;
            width: fit-content;
            margin: initial;
            height: fit-content;
        }
    }
  }
  &Banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin: 40px 0;
    padding-right: 0;
    @media (max-width: 768px) {
        padding: 0 1rem;
        margin: 0;
        overflow: hidden;
        margin-top: 5px;
        margin-bottom: 50px;
        flex-direction: column;
    }
    h1 {
        font-size: 60px;
        line-height: 61px;
        letter-spacing: 0em;
        text-align: left;
        @media (max-width: 768px) {
            font-size: 34px;
            line-height: normal;
        }
        strong {
            color: #0815F8;
        }
    }
    p {
        font-size: 18px;
        line-height: 23px;
        margin: 26px 0;
        @media (max-width: 768px) {
            font-size: 16px;
            line-height: normal;
            margin: 0;
        }
        span{
            color: #0815F8;
        }
    }
    button {
        margin-bottom: 50px;
        @media (max-width: 768px) {
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
    > div {
        &:last-child {
            @media (max-width: 768px) {
                > img {
                    display: none;
                }
            }
            > img {
                width: 100%;
            }
            > div {
                display: flex;
                justify-content: center;
                margin-top: -80px;
                @media (max-width: 768px) {
                    margin-top: 35px;
                }
                button {
                    background: transparent;
                    border: none;
                    box-shadow: none;
                    padding: 0 9px;
                   
                }
            }
        }
        &:first-child {
            max-width: 600px;
            min-width: 45%;
        }
    }
    &Counter {
        display: flex;
        p {
            font-size: 18px;
            font-weight: 500;
            line-height: 16px;
            color: #919191;
            margin-right: 25px;
            @media (max-width: 768px) {
                font-size: 16px;
                margin-right: 10px;
                padding-right: 10;
                line-height: normal;
            }
            &:first-child {
                border-right: 1px solid #0815F8;
                padding-right: 25px;
                @media (max-width: 768px) {
                    padding-right: 15px;
                }
            }
            &:last-child {
                margin-right: 0;
            }
            strong {
                font-size: 25px;
                font-weight: 700;
                color: #0815F8;
                margin-right: 10px;
                @media (max-width: 768px) {
                    font-size: 16px;
                    margin-right: 4px;
                }
            }
        }
    }
  }
  &Desafio {
    margin: 90px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    gap: 80px;
    @media (max-width: 768px) {
        margin: 80px auto;
        padding: 0 1rem;
        flex-direction: column;
        gap: 0px;
    }
    div {
        &:first-child {
            width: auto;
            position: relative;
            img {
                width: 100%;
                @media (max-width: 768px) {
                    width: 80%;
                }
            }
            button {
                padding: 0;
                width: 125px;
                height: 125px;
                background: transparent;
                border: none;
                margin: auto;
                box-shadow: none;
                position: absolute;
                right: 0;
                bottom: 0;
                @media (max-width: 768px) {
                    width: 100px;
                    height: 100px;
                    right: 20px;
                }
                svg {
                    width: 100%;
                    height: auto;
                    transform-box: fill-box;
                    fill: #0815F8;
                    stroke: #0815F8;
                    stroke-width: 20px;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    font-size: 26px;
                    letter-spacing: 1.5px;
                    path {
                        stroke-width: 0.075em;
                    }
                    text {
                        -webkit-animation: rotateReverse normal infinite 20s linear;
                        animation: rotateReverse normal infinite 20s linear;
                        transform-origin: 50% 50%;
                    }
                }
            }
        }
        &:last-child {
            width: 55%;
            max-width: 500px;
            min-width: 45%;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
    h2 {
        font-size: 55px;
        line-height: 56px;
        margin-bottom: 15px;
        @media (max-width: 768px) {
            font-size: 34px;
            line-height: normal;
        }
        span {
            color: #0815F8;
        }
    }
    p {
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        strong {
            color: #0815F8;
        }
    }
  }
  &Presentacion {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    padding-right: 0;
    padding-bottom: 70px !important; 
    @media (max-width: 768px) {
        padding: 0;
        flex-direction: column-reverse;
        margin-top: 60px;
    }
    h2 {
        font-size: 55px;
        line-height: 56px;
        margin-bottom: 15px;
        @media (max-width: 768px) {
            font-size: 34px;
            line-height: normal;
        }
        span {
            color: #0815F8;
        }
    }
    p {
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        strong {
            color: #0815F8;
        }
    }
    > div {
        &:first-child {
            @media (max-width: 768px) {
                padding: 0 1rem;
                margin-bottom: 20px;
            }
        }
        &:last-child {
            @media (max-width: 768px) {
                text-align: right;
            }
            img {
                width: 100%;
                @media (max-width: 768px) {
                    width: 70%;
                }
            }
        }
        > div {
            display: flex;
            align-items: center;
            @media (max-width: 768px) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
        a {
            color: #0815F8;
            font-size: 20px;
            line-height: 25px;
            text-decoration: none;
            margin-left: 32px;
            position: relative;
            display: flex;
            align-items: center;
            @media (max-width: 768px) {
                font-size: 18px;
                margin: 0;
                margin-top: 0;
                width: fit-content;
                span {
                    display: none;
                }
            }
            span {
                font-size: 30px;
                svg {
                    margin-left: 8px;
                }
            }
            &:hover {
                &::after {
                    width: 80%;
                }
            }
            &::after {
                content: '';
                position: absolute;
                left: -10px;
                top: 15px;
                bottom: 0;
                margin: auto;
                height: 15px;
                width: 10%;
                display: block;
                background: #0815F833;
                transition: width .3s cubic-bezier(0.36, 0, 0.66, -0.56) 0s;
                z-index: -1;
            }
        }
    }
  }
  &Hace {
    background: #F7F7F5;
    padding-top: 60px;
    @media (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 75px;
        position: relative;
    }
    h2 {
        font-size: 55px;
        font-weight: 400;
        line-height: 56px;
        @media (max-width: 768px) {
            font-size: 34px;
            line-height: normal;
            margin-bottom: 5px;
        }
        text-align: center;
        span {
            color: #0815F8;
        }
    }
    > div {
        @media (max-width: 768px) {
            padding: 0 1rem;
        }
        ul {
            list-style: none;
            @media (max-width: 768px) {
                padding: 0;
            }
            &:first-child {
                li {
                    justify-content: end;
                    @media (max-width: 768px) {
                        justify-content: start;
                        flex-direction: row-reverse;
                        margin: 15px 0;
                        font-size: 16px;
                        line-height: normal;
                    }
                    span {
                        margin-left: 13px;
                    }
                }
            }
            &:last-child {
                li {
                    @media (max-width: 768px) {
                        justify-content: end;
                        flex-direction: row-reverse;
                        span {
                            margin-left: 10px;
                            margin-right: 0;
                        }
                    }
                }
            }
            li {
                font-size: 20px;
                font-weight: 500;
                line-height: 37px;
                margin: 16px 0;
                display: flex;
                align-items: center;
                @media (max-width: 768px) {
                    justify-content: start;
                    flex-direction: row;
                    margin: 15px 0;
                    font-size: 16px;
                    line-height: normal;
                }
                > span {
                    width: 12px;
                    height: 12px;
                    display: block;
                    border: 2px solid #0815F8;
                    border-radius: 30px;
                    margin-right: 13px;
                    position: relative;
                    transition: transform 0.3s ease; /* Transición suave al escalar */
                    animation: scaleAnimation .8s infinite alternate;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 6px;
                        height: 6px;
                        display: block;
                        background-color: #0815F8;
                        border-radius: 20px;
                    }
                }
            }
        }
        display: flex;
        justify-content: space-evenly;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        > div {
            @media (max-width: 768px) {
                text-align: center;
                > img {
                    width: 80%;
                    margin: auto;
                    @media (max-width: 768px) {
                        display: none
                    }
                }
                > div {
                    @media (max-width: 768px) {
                        position: absolute;
                        bottom: -15px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
  }
  &Phone {
    &Actions {
        display: flex;
        justify-content: center;
        margin-top: -20px;
        button {
            background: transparent;
            box-shadow: none;
            padding: 0;
            margin: 0 9px;
            @media (max-width: 768px) {
                width: 40%;
                img {
                    width: 100%;
                }
            }
        }
    }
  }
  &Parte {
    margin: 150px 0;
    @media (max-width: 768px) {
        margin: 115px 0;
    }
    h2 {
        width: fit-content;
        font-size: 55px;
        line-height: 56px;
        @media (max-width: 768px) {
            font-size: 34px;
            line-height: normal;
        }
        margin-bottom: 15px;
        margin: auto;
        text-align: center;
        span {
            color: #0815F8;
        }
    }
    &Cards {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        @media (max-width: 768px) {
            flex-direction: column-reverse;
            margin-top: 20px;
        }
        > div {
            padding: 0 45px;
            @media (max-width: 768px) {
                padding: 0 1rem;
            }   
            > div {
                height: 320px;
                background-position: center;
                background-size: cover;
                border-radius: 25px;
                @media (max-width: 768px) {
                    height: 230px;
                }
            }
            img {
                border-radius: 25px;
                @media (max-width: 768px) {
                    width: 100%;
                }
            }
            button {
                margin: auto;
                margin-top: 35px;
                @media (max-width: 768px) {
                    margin-top: 10px;
                    margin-bottom: 30px;
                }
            }
        }
    }
    &Detail {
        text-align: center;
        margin-top: 60px;
        @media (max-width: 920px) {
            margin-top: 20px;
        }
        img { 
            max-width: 768px;
            margin: auto;
            @media (max-width: 920px) {
                max-width: 90%;
            }
        }
    }
  }
  &Comunidad {
    margin: 150px auto;
    @media (max-width: 768px) {
        margin: 40px auto;
        margin-bottom: 95px;
    }
    h2 {
        width: fit-content;
        font-size: 40px;
        line-height: 38px;
        @media (max-width: 768px) {
            font-size: 34px;
            line-height: normal;
        }
        margin-bottom: 15px;
        margin: auto;
        text-align: center;
        span {
            color: #0815F8;
        }
    }
    > div {
        &:nth-child(1) {
            @media (max-width: 768px) {
                justify-content: space-between;
                flex-direction: row;
            }
            > div {
                @media (max-width: 768px) {
                    width: 40%;
                    box-sizing: border-box;
                    margin-bottom: 20px;
                    padding: 10px;
                }

                &:last-child {
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }
        &:last-child {
            @media (max-width: 768px) {
                justify-content: space-evenly;
                flex-direction: row;
                > div {
                    width: 40%;
                }
            }
        }
    }
    &Comment {
        display: flex;
        justify-content: space-evenly;
        @media (max-width: 768px) {
            padding: 0 1rem;
            flex-direction: column;
        }
        > div {
            width: fit-content;
            padding: 12px 15px;
            box-shadow: 0px 3px 10px 0px #0000001A;
            border-radius: 12px;
            margin-bottom: 60px;
            @media (max-width: 768px) {
                width: fit-content;
                box-sizing: border-box;
                margin-bottom: 20px;
            }
        }
        p {
            margin: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 10px;
            &:last-child {
                margin: 0;
            }
        }
    }
    &Description {
        @media (max-width: 768px) {
            margin: 30px 0;
        }
        button {
            margin: auto;
            margin-top: 50px !important;
            margin-bottom: 20px !important;
            @media (max-width: 768px) {
                margin-top: 15px !important;
            }
        }
    }
  }
  &Comentarios {
    background-color: #F7F7F5;
    position: relative;
    padding-top: 45px;
    @media (max-width: 768px) {
        padding-top: 65px;
    }
    h2 {
        width: fit-content;
        font-size: 55px;
        line-height: 56px;
        @media (max-width: 768px) {
            font-size: 34px;
            line-height: normal;
        }
        margin-bottom: 15px;
        margin: auto;
        text-align: center;
        span {
            color: #0815F8;
        }
    }
    p {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 16px;
        text-align: center;
        span {
            color: #0815F8;
        }
    }
    > div {
        display: flex;
        justify-content: center;
        > img {
            @media (max-width: 768px) {
                width: 80%;
                margin: auto;
            }
        }
        a {
            padding: 11px 30px;
            border-radius: 40px;
            background: linear-gradient(97.85deg, #0815F8 9.37%, #5D65FF 88.21%);
            box-shadow: 0px 4px 12px 0px #0815F873;
            border: none;
            color: #FFFFFF;
            font-size: 20px;
            line-height: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: background 0.3s ease;
            width: fit-content;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background: linear-gradient(97.85deg, #00A484 24.29%, #018269 64.53%);
            box-shadow: none;
            margin-bottom: -30px;
            padding: 8px 20px;
            color: white;
            text-decoration:none;
            &:hover {
                background: linear-gradient(97.85deg, #018269 24.29%, #018269 64.53%);
            }
            span {
                margin-left: 10px !important;
            }
        }
    }
  }
  &Familia {
    padding: 150px 0;
    @media (max-width: 768px) {
        padding: 20px 0;
        margin-top: 80px;
        margin-bottom: 60px;
    }
    h2 {
        width: fit-content;
        font-size: 55px;
        line-height: 56px;
        margin-bottom: 15px;
        margin: auto;
        text-align: center;
        @media (max-width: 768px) {
            font-size: 34px;
            line-height: normal;
        }
        span {
            color: #0815F8;
        }
    }
  }
  &Apps {
    background: #0D0D0D;
    background-image: url(/icons/elipse.svg);
    background-position: center bottom;
    background-size: cover;
    padding: 72px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 768px) {
        padding: 60px 0;
    }
    &Card {
        display: flex;
        margin-top: 40px;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        > div {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0 40px;
            @media (max-width: 768px) {
                margin: 0 1rem;
                margin-bottom: 30px;
            }
            &:last-child {
                @media (max-width: 768px) {
                    margin-bottom: 0;
                }
            }
            > div {
                margin-right: 19px;
                &:first-child {
                    width: 30%;
                }
                &:last-child {
                    width: 70%;
                }
                @media (max-width: 768px) {
                    img {
                        width: 100%;
                    }
                }
                h4 {
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 31px;
                    color: #FFFFFF;
                    margin: 0;
                    @media (max-width: 768px) {
                        font-size: 20px;
                        line-height: normal;
                        margin-bottom: 10px;
                    }
                    span {
                        color: #0815F8;
                    }
                }
                p {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    color: #FFFFFF;
                }
            }
        }
    }
    h2 {
        width: 100%;
        font-size: 55px;
        line-height: 56px;
        margin-bottom: 15px;
        margin: auto;
        text-align: center;
        color: #FFFFFF;
        @media (max-width: 768px) {
            font-size: 34px;
            line-height: normal;
        }
        span {
            color: #0815F8;
        }
    }
  }

  footer {
    background-color: #000000;
    padding: 40px 8rem;
    @media (max-width: 768px) {
        padding: 0 1rem;
    }
    .logo {
        background-color: #000000;
        margin-bottom: 23px;
        padding-top: 40px;
        @media (max-width: 768px) {
            margin-bottom: 0px;
        }
    }
    .copy {
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        p {
            color: #919191;
            @media (max-width: 768px) {
                text-align: center;
                font-size: 14px;
            }
        }
        ul {
            display: flex;
            align-items: center;
            @media (max-width: 768px) {
                padding: 0;
                justify-content: center;
                margin-top: 10px;
                margin-bottom: 30px;
            }
            li {
                a {
                    color: #919191;
                    text-decoration: none;
                    padding: 0 26px;
                    @media (max-width: 768px) {
                        padding: 0 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .detail {
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        p {
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            color: #919191;
            @media (max-width: 768px) {
                font-size: 16px;
                line-height: normal;
            }
        }
        > div {
            &:first-child {
                max-width: 300px;
                @media (max-width: 768px) {
                    max-width: 100%;
                }
            }
            &:last-child {
                display: flex;
                @media (max-width: 768px) {
                    flex-direction: column;
                }
                ul {
                    list-style: none;
                    padding-right: 50px;
                    &:last-child {
                        @media (max-width: 768px) {
                            margin-bottom: 0;
                        }
                    }
                    @media (max-width: 768px) {
                        padding: 0;
                        margin-bottom: 20px;
                    }
                    &:last-child {
                        padding: 0;
                    }
                    li {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 29px;
                        color: #B1B1B1;
                        a {
                            color: #919191;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .social {
        margin-top: 58px;
        margin-bottom: 38px;
        @media (max-width: 768px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            margin-bottom: 42px;
            @media (max-width: 768px) {
                margin-bottom: 25px;
            }
            li {
                &:first-child {
                    a {
                        padding: 0;
                        padding-right: 16px;
                    }
                }
                a {
                    color: #FFFFFF;
                    padding: 0 16px;
                }
            }
        }
        &Actions {
            display: flex;
            button {
                background: transparent;
                border: none;
                margin: 0;
                padding: 0;
                box-shadow: none;
                margin-right: 15px;
                @media (max-width: 768px) {
                    width: 42%;
                    margin: auto;
                    img {
                        width: 100%;
                    }
                }
                &:last-child {
                    margin: 0;
                    @media (max-width: 768px) {
                        margin: auto;
                    }
                }
            }
        }
    }
  }
}


@keyframes scaleAnimation {
    to {
      transform: scale(1.2);
    }
}

@-webkit-keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotateReverse {
    to {
      transform: rotate(-360deg);
    }
  }
  @keyframes rotateReverse {
    to {
      transform: rotate(-360deg);
    }
}

.caracteristicas {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        display: block;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: fit-content;
        height: 100%;
        border: 1px dashed #0815F8;
        @media (max-width: 768px) {
            content: none;
        }
    }
    h5 {
        color: #0815F8;
        font-size: 24px;
        font-weight: 300;
        line-height: normal;
        margin: 0;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        position: relative;
        span {
            width: 12px;
            height: 12px;
            display: block;
            border: 2px solid #0815F8;
            border-radius: 30px;
            margin-right: 13px;
            position: relative;
            transition: transform 0.3s ease; /* Transición suave al escalar */
            animation: scaleAnimation .8s infinite alternate;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 6px;
                height: 6px;
                display: block;
                background-color: #0815F8;
                border-radius: 20px;
            }
        }
    }
    p {
        color: #FFF;
        text-align: right;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background: #0815F8;
        border-radius: 15px;
        padding: 13px 23px;
        margin: 0;
    }
    > div {
        width: 45%;
        @media (max-width: 768px) {
            width: 100%;
        }
        > div {
            margin-bottom: 40px;
            @media (max-width: 768px) {
                margin-bottom: 15px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &:first-child {
            h5 {
                text-align: right;
                justify-content: end;
                @media (max-width: 768px) {
                    text-align: left;
                    justify-content: start;
                    flex-direction: row-reverse;
                }
                span {
                    margin-left: 5px;
                    position: absolute;
                    right: -56px;
                    background: white;
                    z-index: 999;
                    @media (max-width: 768px) {
                        position: relative;
                        right: auto;
                    }
                }
            }
            p {
                text-align: right;
                @media (max-width: 768px) {
                    text-align: left;
                }
            }
        }
        &:last-child {
            margin-top: 40px;
            @media (max-width: 768px) {
                margin-top: 15px;
            }
            h5 {
                text-align: left;
                @media (max-width: 768px) {
                    flex-direction: row-reverse;
                    justify-content: start;
                }
                span {
                    margin-left: 5px;
                    position: absolute;
                    left: -48px;
                    background: white;
                    z-index: 999;
                    @media (max-width: 768px) {
                        position: relative;
                        left: auto;
                    }
                }
            }
            p {
                text-align: left;
            }
        }
    }
}